{% extends 'base.html' %}

{% block title %}
<h1>{{ pack.name }}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <div class="form-group">
    {% csrf_token %}
    {{ form.name.label_tag }} {{ form.name }}
    {{ form.description.label_tag }} {{ form.description }}
    {{ form.bag.label_tag }} {{ form.bag }}
    {% for category, choices in form.category_choices.items %}
    <fieldset>
        <legend>{{ category }}</legend>
        {% for choice_id, choice_name in choices %}
        <input type="checkbox" name="items" value="{{ choice_id }}" id="item_{{ choice_id }}" {% if choice_id in form.selected_items %}checked{% endif %}>
        <label for="item_{{ choice_id }}">{{ choice_name }}</label><br>
        {% endfor %}
    </fieldset>
    {% endfor %}
    <button type="submit">Save</button>
    </div>
</form>
{% endblock %}